*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
body{
    background-color: black;
}
header{
    width: 100%;
    height: 80px;
    background-color: #1c1c1e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.logo{
    font-size: 28px;
    font-weight: bold;
    color: white;
}
.hamburger{
    display: none;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li a{
    display: block;
    color: white;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    font-weight: bolder;
}
.nav-bar ul li a:hover{
    color: black;
    background: white;
}
.nav-bar ul li a:active{
    color: black;
    background: white;
}
@media only screen and (max-width:1320px)
{
    header{
        padding: 0 50px;
    }
}

@media only screen and (max-width:1100px)
{
    header{
        padding: 0 30px;
    }
}

@media only screen and (max-width:900px)
{
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
    }
    .nav-bar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #1c1c1e;
        transform: 0.5s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 300px;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 30px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        margin: 12px;
        color: white;
    }
}

span {
	color: white;
	animation: flicker 3s linear infinite;
}
span {
    --offset: 2;
	left: calc(var(--offset) * 1ch + calc(var(--offset) * 0.2ch));
}

@keyframes flicker {
	0%, 19.9%, 22%, 62.9%, 64%, 70%, 100% {
		opacity: 0.99;
		text-shadow: 
			-1px -1px 0 rgba(255,255,255, 0.4), 
			1px -1px 0 rgba(255,255,255, 0.4), 
			-1px 1px 0 rgba(255,255,255, 0.4), 
			1px 1px 0 rgba(255,255,255, 0.4), 
			0 -2px 8px, 
			0 0 2px, 
			0 0 5px white, 
			0 0 15px white, 
			0 0 2px gray, 
			0 2px 3px #000;
	}
	20%, 21.9%, 63%, 65%, 69.9% {
		opacity: 0.4;
		text-shadow: none;
	}
}

.flicker {
    animation: flicker 10s infinite;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.always-on {
    opacity: 1;
}

